


<div class="row">
  <div class="col-sm-12">

    <table class="table table-bordered table-hover table-striped">
      <tbody><tr>
        <th>#</th>
        <th>Total</th>
        <th>Datum</th>
        <th></th>
      </tr>
      <tr *ngFor="let r of racuni; let i = index" class="my-data-table-row" (click)="onRacunClick(r)">
        <td>{{ i+1 }}.</td>
        <td>{{ r.total }} KM</td>
        <td>{{ r.created_at | date: 'dd-MM-yyyy HH:mm:ss' }}</td>
        <td>
          <button class="btn btn-primary" (click)="onDetalji(r)">
            <i class="fa fa-info"></i>
            &nbsp;&nbsp;
            Detalji
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
